<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sushi Restaurant</title>
    <style>
        body{
            background-color: aqua;
        }
        .container-title {
            background-color:pink;
            text-align: center;
            background:url(http://bondisushi.com/wp-content/uploads/2017/08/background.jpg) center center no-repeat;
            height:100vh;
            background-attachment: fixed;
        }
        .logo {
            top:50%;
            position:relative   ;
        }
        .container-story {
            background-color:red;
        }
        .sushi-image {
            width:95%;
            height:95%;
        }
        .container-story-child {
            background-color:yellow;
            width: 500px;
            height: 500px;
            vertical-align: top;
            display:inline-block;

        }
        .container-col-menu {
            background-color:grey;
            height:800px;
        }
        .col {
            border:1px solid black;
        }
        
    </style>
</head>
<body>
    <div class="container-title">
        <h1 class='logo'>restaurant name</h1>
    </div>
    <!-- first row of OUR STORY -->
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-7 col">
            <div class="row">
                <div class="col">

                    <img class="sushi-image" src="https://nwatravelguide.com/wp-content/uploads/2016/11/nwa-sushi.jpg" alt="sushi-image">
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                </div>
            </div>
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <!-- first row of GALLERY -->
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-7 col">
            <div class="row">
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
            </div>
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <!-- second row of GALLERY -->
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-7 col">
            <div class="row">
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
                <div class="col">
                    <img class="sushi-image" src="https://img.grouponcdn.com/deal/hfefAup1zQWBE2K8sWURgS27xax/hf-846x508/v1/c700x420.jpg" alt="#">
                </div>
            </div>
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <!-- first row of MENU -->
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-7 container-col-menu">
            Menu
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <!-- first row of LOCATION -->
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    GOOGLE MAPS API
                </div>
                <div class="col">
                    Location and Hours
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col">
                facebook
        </div>
        <div class="col-7">
                email
        </div>
        <div class="col">
                instagram
        </div>
    </div>
</body>
</html>
